@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Istok+Web:wght@400;700&family=Lato:wght@100;300;400;700&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

:root {
    --background: black;
    --line: white;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    color: white;
}

a {
    color: white;
}

html, body {
    height: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    /* padding: 3rem 2rem; */
    position: relative;
    height: 100%;
    background-image: url('./image/yellow-mountains-532857_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.filter-shade {
    height: 100%;
    width: 100%;
    background: rgba(0, 0,0, 0.3);

}

.small-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* align-self: center; */
    /* display: flex; */
    justify-content: space-between;
    /* margin: 50px 100px; */
    padding: 2rem 1rem;
    position: relative;
}

.circle {
    display: flex;
    align-self: center;
    /* font-family: 'Istok Web',
    sans-serif; */
    font-family: 'Nunito',
    sans-serif;
    text-transform: uppercase;




    height: 100px;
    width: 100px;
    /* margin-left: 46%; */
    /* margin-top: 50px; */
    border: solid var(--line) 1px;
    border-radius: 50%;
}

.aw-span {
    display: flex;

    align-self: center;
    flex-grow: 4;
}

.line-under-circle {
    height: 100px;
    border-left: solid var(--line) 1px;
    margin-left: 50%;

}

.inner-paragraph {
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    border-top: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 48px 32px;
    text-transform: uppercase;
    /* margin-left: 35%; */
    /* font-family: 'Istok Web',
    sans-serif; */
    font-family: 'Nunito',
    sans-serif;
    /* background-color: blueviolet; */
    
}

.downline-bottom {
    height: 100px;
    border-left: solid var(--line) /* green*/ 1px;
    margin-left: 50%;
}

ul {
    display: flex;
    
}

li {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 0px;
}
.list-work {
    display: flex;
    /* display: table; */
    text-transform: uppercase;
    align-self: center;
    justify-content: space-evenly;
    /* text-decoration: none; */
    /* font-family: 'Istok Web',
    sans-serif; */
    font-family: 'Nunito',
    sans-serif;
    font-weight: 200;
    font-size: 12px;
    
}

ul.horizontal-list {
    /* min-width: 696px; */
    list-style: none;
    padding-top: 20px;
    /* border-radius: 4px; */
}

ul.horizontal-list li {
    display: inline;
    
}

.intro{
    border: solid var(--line) 1px;
    padding: 20px;
    border-radius: 4px 0 0 4px;
}

.work {
    border: solid var(--line) 1px;
    padding: 20px;
}

.about {
    border: solid var(--line) 1px;
    padding: 20px;
}

.contact {
    border: solid var(--line) 1px;
    padding: 20px;
    border-radius: 0 4px 4px 0;
}

.footer {
    align-self: center;
    /* font-family: 'Istok Web',
    sans-serif; */
    font-family: 'Nunito',
    sans-serif;
    font-weight: 200;
    margin-top: 50px;
    color: white;
    
}