@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Istok+Web:wght@400;700&family=Lato:wght@100;300;400;700&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

:root {
    --background: black;
    --line: white;
    --opaqe: rgb(112, 108, 108, .3);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    color: white;
}

a {
    color: white;
}

html, body {
    height: 100%;
}
.container {
    /* filter: blur(8px); */
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    background-image: url('./image/IMG_5161.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.filter-shade {
    display: flex;
    height: 100%;
    width: 100%;
    background: rgba(0, 0,0, 0.3);
    align-items: center;
    justify-content: center;


}

.small-container {
     /* filter: blur(8px); */
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 600px;  
}

.circle {
    /* filter: blur(8px); */
    display: flex;
    align-self: center;
    font-family: 'Nunito',
    sans-serif;
    text-transform: uppercase;
    height: 100px;
    width: 100px;
    border: solid var(--line) 1px;
    border-radius: 50%;
}

.aw-span {
    display: flex;
    margin-top: 25%;
    justify-content: center;
    flex-grow: 4;
}

.line-under-circle {
    height: 100px;
    border-left: solid var(--line) 1px;
    margin-left: 50%;
}

.inner-paragraph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 48px 32px;
    text-transform: uppercase;
    font-family: 'Nunito',
    sans-serif;
}

p {
    font-size: 13px;
}

.downline-bottom {
    height: 100px;
    border-left: solid var(--line) /* green*/ 1px;
    margin-left: 50%;
    /* ********************************************test line ***************** */
    /* background-color: burlywood; */
}

ul {
    display: flex;
}

li {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 0px;
}
.list-work {
    display: flex;
    text-transform: uppercase;
    align-self: center;
    justify-content: space-evenly;
    font-family: 'Nunito',
    sans-serif;
    font-weight: 200;
    font-size: 12px;
    
}

ul.horizontal-list {
    list-style: none;
    padding-top: 0px;
}

ul.horizontal-list li {
    display: inline;
    
}

/* ******************** buttons *************** */

.intro{
    border: solid var(--line) 1px;
    padding: 20px 25px 20px 25px;
    border-radius: 4px 0 0 4px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}


.work {
    border-top: solid var(--line) 1px;
    border-right: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 20px 39px 20px 38px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}

.about {
    border-top: solid var(--line) 1px;
    border-right: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 20px 27px 20px 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}

.contact {
    border-top: solid var(--line) 1px;
    border-right: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 20px 25px 20px 25px;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}

/* ******************* Button Hover effect ********* */

.intro:hover, .intro:focus {
    background-color: var(--opaqe);
}

.work:hover, .work:focus {
    background-color: var(--opaqe);
}

.about:hover, .about:focus {
    background-color: var(--opaqe);
}

.contact:hover, .contact:focus {
    background-color: var(--opaqe);
   
}

/* ************************* footer *************** */

.footer {
    align-self: center;
    font-family: 'Nunito',
    sans-serif;
    font-weight: 200;
    font-size: 10px;
    margin-top: 100px;
    color: white;
}

/* **************************Modal***************** */

.modal-bg {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0, 0,0, 0.9);
     visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-bg-work {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0, 0,0, 0.9);
     visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-bg-about {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0, 0,0, 0.9);
     visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-bg-contact {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0, 0,0, 0.9);
     visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-bg-contact h1 {
    padding-left: 27%;
}

.modal-bg-contact p {
    padding-left: 20%;
}

.modal-bg-contact label {
    color: white;
    padding-left: 38%;
}

.modal-bg-contact input {
    border-left: 25%;
    margin-left: 20%;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}


.modal {
    position: relative;
    background-color: #fefefe;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: white; */



    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 80%;
    /* visibility: hidden; */
    opacity: 0;
}


.modal-close {
    position: absolute;
    color: rgb(180, 41, 180);
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    z-index: 8;
}