@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Istok+Web:wght@400;700&family=Lato:wght@100;300;400;700&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');




.listWork {
    display: flex;
    text-transform: uppercase;
    align-self: center;
    justify-content: space-evenly;
    font-family: 'Nunito',
    sans-serif;
    font-weight: 200;
    font-size: 12px;  
}

.modal {
    display: flex;
    position: relative;
    background-color: #fefefe;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin: auto;
    border: 1px solid #888;
    width: 80%;
    opacity: 0;
}




.intro{
    border: solid var(--line) 1px;
    padding: 20px 25px 20px 25px;
    border-radius: 4px 0 0 4px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}
